@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat&display=swap');

:root {
    font-size: 62.5%;
    --rock-color: #FF5733; /* Red for Rock */
    --paper-color: #3498DB; /* Blue for Paper */
    --scissors-color: #FFC300; /* Yellow for Scissors */
    --bg-color: #F2F2F2; /* Neutral Background */
    --text-color: #2C3E50; /* Dark Gray Text */
}

body {
    font-size: 1.8rem;
    background-color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: 6rem;
    font-family: 'Luckiest Guy', sans-serif;
    color: var(--rock-color);
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

.hidden {
    display: none !important;
}

nav{
    position: fixed;
    top:0;
    font-size: 1.2rem;
    font-family: 'Luckiest Guy', sans-serif;
    color: var(--rock-color);
    padding: .5rem  1rem;
    width: 100vw;
    box-shadow: 1px 2px 10px grey;
}
.intro {
    height: calc(100vh - 5px);
    padding: 1rem 2rem;
    text-align: center;
}

.intro p {
    font-size: 2rem;
}

.intro button {
    width: max-content;
    background-color: var(--rock-color);
    color: #FFFFFF;
    padding: 1rem 2rem;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.page2,
.game,
.final-score-page {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    min-height: 80vh;
    margin: 0 20% ;
    background-color: var(--bg-color);
}

.page2 div,
.scores,
.game-box {
    width: 100%;
    max-width: 500px;
}

.game{
    margin-top: 70px;
}
.page2 div{
    gap:2rem;
}
.game-box {
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
}

.game-box .current-round {
    padding: 1rem 0;
    text-align: center;
    background-color: var(--text-color);
    color: var(--bg-color);
    margin: 0;
}

.game-box .play-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
    background-color: var(--paper-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.results {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--scissors-color);
}

.scores {
    text-align: center;
}
.scores .player-score,
.scores .computer-score{
    color: white;
    background-color: var(--text-color);
    border-radius: 25%;
    
}
.scores .player-score::after,
.scores .computer-score::after{
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius:25% ;
    display: block;
    
}
.scores .player-score::after{
    content: 'Your Score';
    
}
.scores .computer-score::after{
    content: 'Bot Score';

}
.btn-1 {
    padding: .2rem 2rem;
    border-radius: 10px;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid grey;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--rock-color);
    color: white;
}

.final-score-page h2 {
    color: var(--scissors-color);
}

.final-score-page button {
    background-color: var(--paper-color);
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
}
.display-moves{
    width: 80%;
   color: white;
}
.display-moves .fun-img{
    width: 150px;
    aspect-ratio: 1/1;
}

@media (max-width: 480px) {
    .game,
    .page2,
    .final-score-page {
        padding: 0 1.5rem;
        margin:70px 0 0 0;
        
    }

    h1 {
        font-size: 4rem;
    }

    h2, h3 {
        font-size: 2.4rem;
    }

    .intro p,
    .results {
        font-size: 1.6rem;
    }

    .intro button {
        font-size: 1.6rem;
    }

    
    .game-box .play-area{
        padding: 1rem 3rem;
    }
    .game-box .play-area .weapons h3{
        font-size: 1.8rem;
    }
    
    .final-score-page,
    .page2{
        text-align: center;
    }
}
